.header {
  background-color: rgb(90, 102, 130);
  margin: 0 auto;
  width: 80%;
}

.header__title {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
  margin-top: 0;
}

.header__menu {
  float: right;
  display: inline-block;
  vertical-align: top;
  height: 50px;
  margin-bottom: 0;
}


.header__menu-item {
  display: inline-block;
  text-align: center;
  height: 50px;
  line-height: 50px;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;

}

.content {
  background-color: rgb(144, 175, 71);
  margin: 0 auto;
  width: 80%;
}


.contacts {
  margin: auto;
  width: 80%;

}
.contacts__title {
  text-align: center;
  margin: 0;
  height: 100px;
  line-height: 100px;
  font-size: 20px;
}

.contacts__adress {
  margin: 0;
  display: inline-block;
  width: 50%;
}

.contacts__map {

}

.footer {
color: white;
background-color: rgb(43, 38, 45);
height: 400px;

}

.footer__menu {
  float:left;
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer__menu-item {
  display: block;
  text-align: center;
  height: 30px;
  line-height: 30px

}
