

.header{
  background-color: rgb(203, 203, 203);
  border-radius: 4px;
  margin-bottom: 30px;
}


.header-menu {
  vertical-align: top;
  margin-top: 0;
  width: 80%;
  display: inline-block;
}



.navbar{

}
.navbar-default{
  background-color: inherit !important;
  border-color: rgb(203, 203, 203) !important;
}

.header-contacts {
  padding-top: 20px;
  padding-bottom: 5px;
  margin-right: 0;
  text-align: right;
}



.header-contacts__phone {
  display: inline-block;
  margin-right: 20px;
}

.header-contacts__place {
  display: inline-block;
  margin-right: 20px;
}



.header-logo {
  width: 20%;
  display: inline-block;
  height: 117px;
}

.header-logo-img {
  margin-top: 5px;
  margin-left: 40px;
  height: 100px;
  width: 100px;
}

.middle-title {
  text-align: center;
  margin: 0;
  height: 100px;
  line-height: 100px;
  font-size: 25px;
  font-family: sans-serif;
  text-decoration: underline;
  decoration-color: rgb(34, 62, 156);
}


.page-content {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
}


.homepage-banner__image {
  border-radius: 4px;
  height: 500px;
  width: 100%;
}


.homepage-contacts__adress {
  margin: 0;
  display: inline-block;
  width: 50%;
}

.homepage-contacts__map {
  margin: 0;
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.homepage-contacts__map-image {
  width: 90%;
  height: 100%;
  margin-left: 10px;
  border-radius: 4px;
}









.footer{
 background-color: rgb(195, 195, 195);
}


.footer__contact-adress{
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.footer__contact-phone {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.footer__social-links {
text-align: center;
margin-top: 20px;
padding-bottom: 50px;
padding-left: 0;
}


.footer__social-link {
  line-height: 1.5em;
 display: inline-block;
 margin-left: 50px;
 margin-right: 50px;
}



.footer__social-link-image {
  width: 100%;
}
