
footer.footer
  p.footer__contact-adress п. Северный, Вишневая 1а
  p.footer__contact-phone  +7 (916) 123 45-67
  ul.footer__social-links
    li.footer__social-link
      a(href="#")
        img(src="/img/vk.png").footer__social-link-image
    li.footer__social-link
      a(href="#")
        img(src="/img/facebook.png").footer__social-link-image
    li.footer__social-link
      a(href="#")
        img(src="/img/instagram.png").footer__social-link-image
