extends layout

block content


    header.header
      h1.header__title  Silver
      ul.header__menu
        li.header__menu-item
          a(href="#") Home
        li.header__menu-item
          a(href="#") Contacts
        li.header__menu-item
          a(href="#") About




    div.content
      p.content__text.
        Фитнес-клуб Сильвер - это спортивный комплекс,
        где вы можете не только привести свою фигуру в форму.
         Наш клуб оснащен тренажерным залом оборудованным всеми современными видами тренажеров.
          Прекрасные дамы могут воспользоваться различными процедурами в нашем салоне красоты или расслабиться в сауне,
           а для брутальных мужчин у нас есть специально оборудованная бойцовская зона, где они всегда смогут «выпустить пар».
        Сильвер оснащен самым современным спортивным оборудованием, а также комфортными и удобно расположенными раздевалками,
        так что мы гарантируем вам не только успешную фитнес-программу, но и отличное настроение!
        Наш фитнес-клуб находится в поселке Северный в 3км от Истры по Бужаровскому шоссе и имеет удобную парковку.
        В шаговой доступности от нас находятся продуктовые магазины, кафе и рестораны, поэтому Вы сможете не только привести свою форму в порядок но и совершить необходимые покупки.
        Мы ждем вас – поверь в свою силу!

    div.contacts
      div.contacts__title Контакты
      div.contacts__adress
        p.contacts__adress-item Спортклуб SILVER
        p.contacts__adress-item Московская обл., Истринский район, п. Северный
        p.contacts__adress-item БЕЗ ВЫХОДНЫХ <br/> c 18:00 до 21:00
        p.contacts__adress-item Как к нам добраться: по Бужаровскому шоссе в сторону от Истры, <br/> при въезде в поселок Серевный справа у дороги сразу за магазином "Магнит". <br/> В здании на первом этаже автомойка, на втором располагается наш спортклуб.
        p.contacts__adress-item +7 (123) 456-78-90
      div.contacts__map


    footer.footer
      ul.footer__menu
        li.footer__menu-item
         a(href ="#") item1
        li.footer__menu-item
         a(href ="#") item2
        li.footer__menu-item
         a(href ="#") item3
        li.footer__menu-item
         a(href ="#") item4
