extends layout

block content
  include header.pug
  div.homepage-banner.page-content
    img(src="/img/re/banner1.jpeg").homepage-banner__image
  div.homepage-description.page-content
    h3.middle-title О клубе
    p.homepage-description__text.
      Фитнес-клуб Сильвер - это спортивный комплекс,
      где вы можете не только привести свою фигуру в форму.
       Наш клуб оснащен тренажерным залом оборудованным всеми современными видами тренажеров.
        Прекрасные дамы могут воспользоваться различными процедурами в нашем салоне красоты или расслабиться в сауне,
         а для брутальных мужчин у нас есть специально оборудованная бойцовская зона, где они всегда смогут «выпустить пар».
      Сильвер оснащен самым современным спортивным оборудованием, а также комфортными и удобно расположенными раздевалками,
      так что мы гарантируем вам не только успешную фитнес-программу, но и отличное настроение!
      Наш фитнес-клуб находится в поселке Северный в 3км от Истры по Бужаровскому шоссе и имеет удобную парковку.
      В шаговой доступности от нас находятся продуктовые магазины, кафе и рестораны, поэтому Вы сможете не только привести свою форму в порядок но и совершить необходимые покупки.
      Мы ждем вас – поверь в свою силу!

  div.homepage-contacts.page-content
    h3.middle-title Контакты
    div.homepage-contacts__adress
      p.homepage-contacts__contact Спортклуб SILVER
      p.homepage-contacts__contact Московская обл., Истринский район, п. Северный
      p.homepage-contacts__contact БЕЗ ВЫХОДНЫХ <br/> c 18:00 до 21:00
      p.homepage-contacts__contact Как к нам добраться: по Бужаровскому шоссе в сторону от Истры, <br/> при въезде в поселок Серевный справа у дороги сразу за магазином "Магнит". <br/> В здании на первом этаже автомойка, на втором располагается наш спортклуб.
      p.homepage-contacts__contact +7 (123) 456-78-90
    div.homepage-contacts__map
      img(src="/img/map.png").homepage-contacts__map-image


  include footer.pug
